<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->

    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/login.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/tipso.min.css">

    <title>登陆</title>
</head>
<body>
<div class="container">

    <article class="htmleaf-container">
        <header class="htmleaf-header">

            <div class="htmleaf-links">

            </div>
        </header>
        <div class="panel-lite">
            <div class="thumbur">
                <div class="icon-lock"></div>
            </div>
            <h4>用户登录</h4>
            <div class="form-group dowebok">
                <input required class="form-control" id="username" data-tipso="dowebok" title="用户不存在"/>
                <label class="form-label">用户名 </label>
            </div>
            <div class="form-group dowebok">
                <input type="password" required class="form-control" id="password" data-tipso="dowebok" title="用户名或密码错误"/>
                <label class="form-label">密　码</label>
            </div>
            <button class="floating-btn" id="login"><i class="icon-arrow"></i></button>

        </div>

    </article>
</div>

<script src="/js/bootstrap.min.js"></script>
<script src="js/tipso.min.js"></script>
</body>
</html>